<%= form_with(model: worklog, local: true) do |form| %>
  <% if worklog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worklog.errors.count, "error") %> prohibited this worklog from being saved:</h2>

      <ul>
        <% worklog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container w-50">
  <%= form.hidden_field :user_id, value: @worklog.user_id %>

  <div class="field">
    <%= form.label :date, class: "form-label p-1 m-1" %>
    <%= form.date_select :date, class: "form-control p-1 m-1" %>
  </div>

  <div class="field d-flex">
    <%= form.label :hours, class: "form-label p-1 m-1" %>
    <%= form.number_field :hours, step: 0.5, class: 'form-control p-1 m-1' %>
  </div>

  <div class="field d-flex">
    <%= form.label :notes,class: "form-label p-1 m-1" %>
    <%= form.text_field :notes, class: 'form-control p-1 m-1'  %>
  </div>

  <div class="actions text-end">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
</div>

<% end %>
